spring:
  profiles:
    active: dev
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
#        show_sql: true
        format_sql: true
        default_batch_fetch_size: 100 #최적화 옵션

logging.level:
  org.hibernate.SQL: debug
